
:host {
  --column-gap: 0.5rem;

  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-start;
  column-gap: var(--column-gap);
  flex-flow: row wrap;

}

.vertical-divider {
  border-left: 2px solid var(--divider-color);
  height: 100%;
  width: 2px;
  content: "";
}

.fp {

  &.hr {
    border-right: 2px solid var(--divider-color);
    padding-right: var(--column-gap);
  }

  label {
    display: block;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 80%;
  }

  &.search {
    width: 100%;
    padding-top: 0.5rem;
  }
}

@media (min-width: 900px) {
  .fp.search {
    width: 15rem;
    padding-top: 0;
  }

  :host {
    --column-gap: 1rem;
  }
}

.separator {
  flex-grow: 2;
}
