<ng-container [formGroup]="filterForm">
  <div class="fp">
    <label for="status">Status</label>
    <nz-checkbox-group id="status" formControlName="status"></nz-checkbox-group>
  </div>

  <div class="vertical-divider"></div>

  <div class="fp">
    <label for="pl">Product Line</label>
    <nz-select nzSize="small" nzBorderless formControlName="productLine" id="pl">
      <nz-option nzValue="all" nzLabel="All Product Lines"></nz-option>
      <nz-option *ngFor="let pl of productLineOptions" [nzValue]="pl" [nzLabel]="pl"></nz-option>
    </nz-select>
  </div>

  <div class="vertical-divider"></div>

  <div class="fp">
    <label for="from">From</label>
    <nz-date-picker nzSize="small" nzBorderless [nzFormat]="dateFormat" formControlName="from" id="from" nzPlaceHolder="From"></nz-date-picker>
  </div>

  <div class="fp">
    <label for="to">To</label>
    <nz-date-picker nzSize="small" nzBorderless [nzFormat]="dateFormat" formControlName="to" id="to" nzPlaceHolder="To"></nz-date-picker>
  </div>

  <div class="vertical-divider"></div>

  <div class="fp">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input formControlName="orderNumber" id="orderNumber" placeholder="Search for Order Number"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

</ng-container>
