
:host {
  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-start;
  column-gap: 0.5rem;
  flex-flow: row wrap;
}

.vertical-divider {
  border-left: 2px solid var(--divider-color);
  height: 100%;
  width: 2px;
  content: "";
}

.fp {
  label {
    display: block;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 80%;
  }

  &.search {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .fp.search {
    width: 15rem;
  }
}

.separator {
  flex-grow: 2;
}
