<div class="content">
  <h2 class="content-header">Order History</h2>

  <ce-order-filter [productLineOptions]="ordersService.productLineOptions$ | async"
                   (filterChange)="ordersService.setFilter($event)"></ce-order-filter>

  <ng-container *ngIf="ordersService.orders$ | async as orders">

    <div class="grid-table">
        <div class="header-row">
          <div class="header-cell">Status</div>
          <div class="header-cell">Order Number</div>
          <div class="header-cell">Product Line</div>
          <div class="header-cell">Product</div>
          <div class="header-cell">Quantity</div>
          <div class="header-cell">Date Requested</div>
        </div>

        <div class="row" *ngFor="let o of orders; trackBy: trackByOrder">
          <div class="cell"><ce-order-status [status]="o.status"></ce-order-status></div>
          <div class="cell">{{ o.orderNumber }}</div>
          <div class="cell">{{ o.productLine }}</div>
          <div class="cell"><strong>{{ o.product }}</strong></div>
          <div class="cell"><ce-order-quantity [quantity]="o.quantity"></ce-order-quantity></div>
          <div class="cell">{{ o.requestedOn | date:'dd.MM.YYYY' }}</div>
        </div>
    </div>
  </ng-container>


</div>
