
:host {
  --border-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  --border-radius: 3px;
}

ce-order-filter {

  background-color: var(--background-color);
  margin-bottom: 3rem;

  box-shadow: var(--border-shadow);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem auto;
  align-content: space-evenly;

  row-gap: 1rem;
}

.header-cell {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.cell {
  padding: 1rem;
}

.header-row, .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
}

.row {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--border-shadow);
}

.cell {
  /*background-color: var(--background-color);*/
}
