
body, html {
  background-color: var(--body-color);
}

.content-header {
  color: var(--primary-color);
}

.ant-select-single, .ant-select-single:not(.ant-select-customize-input) .ant-select-selector, .ant-picker {
  padding-left: 0;
}

.ant-select-arrow, .anticon-search {
  color: var(--progress-color);
}

.anticon-calendar {
  color: var(--primary-color);
}

.ant-picker {
  padding: 0;
}

.ant-input::placeholder {
  color: var(--placeholder-color);
}
