
html {
  --primary-color: #001C3B;
  --background-color: #fff;
  --body-color: #f4f6f9;
  --border-color: #EBEBEB;
  --placeholder-color: #000;

  --progress-color: #3FA9F5;
  --warning-color: #FBB03B;
  --completed-color: #7AC943;
}
