
div {
  ::before {
    display: block;
    width: 10px;
    height: 10px;
  }
}

.pending {
  background-color: var(--progress-color);
}

.inProgress {
  background-color: var(--warning-color);
}

.completed {
  background-color: var(--success-color);
}
