
div {
  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 0.9rem;
    margin-bottom: -3px;
    margin-right: 5px;
    border-radius: 2px;
  }
}

.pending {
  &::before {
    background-color: var(--warning-color);
  }
}

.inProgress {
  &::before {
    background-color: var(--progress-color);
  }
}

.completed {
  &::before {
    background-color: var(--completed-color);
  }
}
